/* Modelo de caja universal */
* {
    box-sizing: border-box;
}

/* Altura completa del documento html */
html, body {
    height: 100%;
}

/*
Configuración general:
- Quitamos los márgenes por defecto
- Elegimos una tipografía base
- Definimos color de texto y fondo
*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;              /* Contenedor flexible */
    flex-direction: column;     /* Disposición vertical de los 3 elementos */
    min-height: 100vh;          /* Altura total del viewport*/
}

/* Cabecera con FLEX */
.cabecera {
    text-align: center;
    padding: 1rem;          /* 1 rem = 16 px */
    display: flex;
    justify-content: space-between;             /* Separa brand y menú */
    align-items: center;                        /* Centrar verticalmente */
    background: #2C3E50;
}

/* Tamaño del logo */
.logo {
    height: 100px;
    width: auto;
}

/* Menú con FLEX */
.menu {
    list-style: none;   /* Eliminamos las viñetas */
    display: flex;      /* Colocamos en línea los enlaces */
    gap: 1rem;          /* Separo los enlaces */
    margin: 0;
    padding: 0;
}

/* Estilo básico de los enlaces del menú */
.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Efecto hover para los enlaces (pseudoclase) */
.menu a:hover {
    color: #e74c3c;
}

/* Título de la cabecera sin márgenes extra y color destacado */
/* .titulo {
    margin: 0;
    color: #2C3E50;
} */

/* Zona principal (main)
    padding -> espacio interior o relleno 
*/
#contenido-principal {
    padding: 1rem;
    flex-grow: 1;       /* Esto empuja el footer hacia abajo */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Clase "tarjeta": usada para agrupar secciones visualmente 
    - color blanco
    - border sutil y redondeado en las esquinas
    - sombra ligera
    - ancho máximo controlado
*/
.tarjeta {
    background: #fff;
    border-radius: 12px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Texto secundario */
.aviso {
    color: #7F8C8D;
}

/* Listas en dos columnas flexibles (FLEX) */
.listas {
    display: flex;      /* Convierto al elemento como contenedor flexible */
    flex-direction: row;
    gap: 2rem;
}

/* Ajustes visuales de las listas */
.lista {
    padding-left: 20px;     /* Espacio para las viñetas o número*/
}

.lista li {
    margin: 0.5rem 0;       /* Añado espacio vertical entre los elementos de la lista */    
}

/* Estilamos las tablas */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Border y relleno a las celdas */
.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

.tabla th {
    background: #2C3E50;
    color: #fff;
    text-align: center;
}

.tabla td {
    text-align: left;
    white-space: nowrap;        /* Evita saltos de línea en celdas */
}

/* Estilo del pie de página:
    - color gris suave
    - tamaño de letra menor
    - fondo ligeramente gris 
*/

/* ======= FORMULARIO DE REGISTRO ======= */
.form-registro{
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 1rem;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: firebrick;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0.75rem;
}

.form-row label {
    font-weight: bold;
}

.form-row button {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form-row button:hover {
    background-color: darkred;
}

.pie {
    text-align: center;
    padding: 1rem;
    color: #7F8C8D;
    background: #38707e;
    font-size: 14px;
}


/* ========================
   SECCION TIENDA
   ========================
*/

.tarjeta.tienda {
    width: min(1500px, 95%);
}

/* Contenedor de las cards */
.lista-cards--flex {
    display: flex;              /*Activa el modelo Flex */
    flex-wrap: wrap;            /* Permite que las cards salten de línea si no cabeb */
    gap: 16px;                  /* Espacio uniforme entre las cards */
    justify-content: center;    /* Centra horizontalmente todas las cards */
}

/* Card individual */
.card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

/* Imagen dentro de la card */
.card-imagen {
    width: 100%;            /* Ocupa todo el ancho disponible dentro de la card */
    height: 180px;          /* Altura fija para todas las imágenes */
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
    object-fit: contain;
}

/* Textos */
.card-titulo {
    color: #333;
    font-size: 1.1rem;
    margin: 8px 0 4px;
}

.card-descripcion {
    font-size: 0.9rem;
    color: #666;
    min-height: 3.5em;  /* Mantiene altura uniforme aunque cambie el texto */
}

.card-precio {
    color: #b60000;
    font-weight: bold;
    margin: 8px 0;
}

.card-boton {
    display: inline-block;
    padding: 10px 16px;
    background-color: #2C3E50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

/* display: inline-block:
    Por defecto, los enlaces <a> son elementos en lína y no aceptan padding vertical real ni border radius bien definidos. 
    Con inline-block permito que se comporte como un botón real con padding, bordes redondeados y ancho ajustado al texto. */


/* ========================
   PRACTICA GRID
   ========================
*/

.contenedor-grid > :nth-child(1) { background-color: aquamarine;}
.contenedor-grid > :nth-child(2) { background-color: #e74c3c;}
.contenedor-grid > :nth-child(3) { background-color: greenyellow ;}
.contenedor-grid > :nth-child(4) { background-color: purple;}
.contenedor-grid > :nth-child(5) { background-color: goldenrod;}
.contenedor-grid > :nth-child(6) { background-color: blue;}


.contenedor-grid {
    display: grid;      /* Activamos grid */
    /* row-gap: 5px;
    column-gap: 25px; */
    /* gap: 5px 25px; */
     /* espacio uniforme entre filas y columnas */
    /* gap: 10px; */
    /* 3 columnas exactas */
    /* grid-template-columns: repeat(3,200px); */
     /* 2 filas exactas */      
    /* grid-template-rows: 100px 100px;                */
    background-color: #eaeaea;
    padding: 10px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 75px 125px;
    gap: 20px;
    min-height: 300px; 

    /* Alineación de los elementos dentro de cada celda */
    justify-items: stretch;
    align-items: stretch;
    /* Atajo: place-items = align-items + justify-items */
    /* place-items: start center; */

    /* Alineación de la cuadrícula respecto del contenedor grid */
    /* justify-content: center;
    align-content: center; */
    /* Atajo: place-content = align-content + justify-content */
    place-content: center;
}

.item-1 {
    /* Alineación del elemento dentro de su celda */
    /* justify-self: center;
    align-self: center; */
    place-self: center;
    order: 1;
}

.item-3 {
    order: -4;
}


/* PAGINA JUEGOS */

.tarjeta.juegos{

}


/* Catálogo de juegos enfoque ESCRITORIO FIRST */
.lista-cards--grid{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card-destacada{
    grid-column: span 2;
    background-color: rgb(20, 190, 220);
    border: 2px #ff0000;
}


/* @media (width < 768px) {} */
 @media screen and (width < 768px){
    .tienda.tarjeta.juegos{
        width: 95%;

    }

    .lista-cards--grid{
        grid-template-columns: minmax(220px, 1fr);
    }
 }