/* Modelo de caja universal */
* {
    box-sizing: border-box;
}
/* Altura completa del documento*/
html, body {
    height: 100%;
}

/*
Configuración general:
-Quitamos los márgenes por defecto
-Elegimos tipografía y base
-Definimos color de texto y fondo*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    background: #f0f0f0;
    display: flex;      /* Contenedor flexible */
    flex-direction: column;     /* Disposición vertical de los 3 elementos */
    min-height: 100vh;      /* Altura total del viewport */
}

/* Cabecera con FLEX*/
.cabecera {
    text-align: center;
    padding: 1rem;      /* 1 rem = 16 px */
    display: flex;
    justify-content:space-between;      /* Separa brand y menú */
    align-items: center;            /* Centrar verticalmente*/
    background: #2c3e50;
}

/* Tamaño del logo */
.logo {
    height: 100px;
    width: auto;
}

/*  Menú con FLEX */
.menu {
    list-style: none;   /* Eliminamos las viñetas */
    display: flex;      /* Colocamos en línea los enlaces */
    gap: 1rem;
    margin: 0;
    padding: 0;
}

/* Estilos básicos de los enlaces del menú */
.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Efecto hover para los enlaces (pseudoclase) */
.menu a:hover {
    color: #e74c3c;
}

/* Título de la cabecera sin márgenes extra y color destacado */
/*.titulo {
    margin: 0;
    color: #2C3E50;
}*/

/* Zona principal (main)
    padding -> espacio interior o relleno
*/
#contenido-principal {
    padding: 1rem;
    flex-grow: 1;           /* Esto empuja el footer hacia abajo */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Clase "tarjeta": usada para guarda secciones visualmente
    -color blanco
    -border sutil y redondeado
    -sombra ligera
    -ancho máximo controlado
*/
.tarjeta {
    background: #fff;
    border-radius: 12px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Texto secundario */
.aviso {
    color:#7F8C8D;
}

/* Listas en dos columnas flexibles (FLEX)*/
.listas {
    display: flex;  /* Convierto al elemento como contenedor flexible */
    flex-direction: row;
    gap: 2rem;
}

/* Ajustes visuales de las listas */
.lista {
    padding-left: 20px;     /* Espacio para las viñetas o número*/
}

.lista li {
    margin: 0.5rem 0;       /* Añado espacio vertical entre los elementos de la lista */
}

/* Estiramos las tablas */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Border y rellelno a las celdas */
.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

.tabla th {
    background: #2C3E50;
    color: #fff;
    text-align: center;
}

.tabla td {
    text-align: center;
    white-space: nowrap;        /* Evita saltos de línea en celdas */
}

/* Estilo del pie de página:
    - color gris suave
    - tamaño de letra menor
    - fondo ligeramente gris
*/

/* ######### FORMULARIO DE REGISTRO ######## */
.form-registro{
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 2rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: firebrick;
    margin: 0 auto;
}

.form-row{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    margin-top: 0.75rem;
}

.form-row label {
    font-weight: bold;
}

.form-row button{
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding:  0.5rem 10rem;
    cursor: pointer;
}

.form-row button:hover{
    background-color: darkred;
}

/*FORMULARIO REGISTRO */
.form-contacto{
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 1rem;
    /* width */
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: firebrick;
}


.pie {
    text-align: center;
    padding: 1rem;
    color: #7f8c8d;
    background: #38707e;
    font-size: 14px;
}

/*  ===========================
    SECCION TIENDA
    ===========================
*/

.tarjeta.tienda{
    width: min(1300px,95%);
}

.lista-cards--flex{
    display: flex;              /* Activa el modelo flex */
    flex-wrap: wrap;            /* Permite que las cards salten de linea si no cabe */
    gap: 16px;                  /* Espacio uniforme entre las cards */
    justify-content: center;    /* Centra horizontalmente todas las cards */
}

/* Card individual*/
.card{
    width: 280px;
    border: 1px #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

/* Imagen dentro de la card */
.card-image{
    width: 100%;
    height: 180px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
    object-fit: cover;
}

/* Textos */
.card-titulo {
    color: #333;
    font-size: 1.1rem;
    margin: 8px 0 4px;
}

.card-descripcion {
    font-size: 0.9rem;
    color: #666;
    min-height: 3.5em;  /* Mantiene altura uniforme aunque cambie el texto */
}

.card-precio {
    color:#e74c3c;
    font-weight: bold;
    margin: 8px;
}

.card-precio{
    color: #e74c3c;
    font-weight: bold;
    margin: 8px;
}

.card-boton{
    display: inline-block;
    padding: 10px 16px;
    background-color: #2C3E50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

/* display: inline-block:
    Por defecto los enlaces <a> son elemntos en linea u no acptan padding vertical real ni border-radius */


.contenedor-grid :nth-child(1){ background-color: aquamarine;}
.contenedor-grid :nth-child(2){ background-color: #e74c3c;}
.contenedor-grid :nth-child(3){ background-color: greenyellow;}
.contenedor-grid :nth-child(4){ background-color: purple;}



.contenedor-grid{
    display: grid;      /* Activamos grid */
    /* row-gap: 5px;
    /* column-gap: 25px; */
    /* gap: 5 px 25px; */
     /* espacio uniforme entre filas y columnas */
    /* gap: 10px; */
    /* 3 columnas exactas */
    /* grid-template-columns: repeat(2,200px) 100px; */
     /* 2 filas exactas */
    grid-template-rows: 100px 100px;   
    background-color: #eaeaea;
    padding: 10px;
    grid-template-columns: repeat(3, 180px);
    gap: 20px;
    grid-template-rows: 75px 125px;
    min-height: 300px;

    /* Alineacion de los elementos dentro de cada celda */
    justify-items: stretch;
    align-items: stretch; 
    /* Atajo: place.items = aling -items + justify-items 
    place-items: start center; */

    /* Alineacion de la cuadricula respecto del contenedor grid*/
    /* justify-content: start;
    align-content: start;*/
    /* Atajo: place-content = align-contnet + justify-content */
    place-content: center;
}

.item-1 {
     /* Alineacion de los elementos dentro de cada celda */
     justify-self: center;
     align-self: center; 
}


.item-grid{
    color: #000;
    font-weight: bold;
    border: 2px solid #60a6bc;
    font-size: 1.2rem;
}